body {
    background-image: url('img/Background-for-all-screen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.startimg {
    height: auto;
    width: auto;
}

body {
    margin: 0%;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

 @media only screen and (min-width: 1024px) {

    /* Desktop View */
    .startimg {
        height: 650px;
    }

    .letsgo {
        height: 650px;
        width: 302px;
        background-image: url('img/Background-for-all-screen.jpg');
        background-size: cover;
        background-position: center;
        align-items: center;
        right: 30%;
    }
    .backgroundimg {
        height: 600px;
        width: 302px;
        margin-left: 0%;
        border-radius: 30px;
        margin-top: -110%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    .bodytypetitle {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 27px;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-position: center;
        bottom: 79%;
        letter-spacing: 1.01px;
        line-height: 0.8em;
        position: absolute;
        color: black;
        left: 41.7%;
        font-weight: bold;
    }

    .btnslim {
        background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 125px;
        width: 280px;
        text-align: center;
        border-radius: 30px;
        font-size: 30PX;
        font-weight: bold;
        text-decoration: none;
        border: none;

    }

    .btnslim1 {
        display: block;
        margin-top: -94%;
        left: 24%;
        position: relative;
    }

    .btnslim:hover {
            background-color: #3498db;
            color: white;
        }

        .imgslim {
            width: 40%;
            height: 100%;
            display: block;
            border-radius: 30px;
            margin-right: -12.5%;
        }

        #cornerSign {
            width: 30px;
            height: 30px;
            transition: opacity 0.5s ease;
            position: absolute;
            justify-content: flex-start;
            margin-top: -15%;
            margin-left: -43%;
        }
        .btnAverage2 {
            display: block;
            justify-content: center;
            margin-top: 3%;
            left: 24%;
            position: relative;
        }

        .btnAverage {
            background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 125px;
            width: 262px;
            text-align: center;
            border-radius: 30px;
            font-size: 30PX;
            font-weight: bold;
            border: none;
        }
    
        .btnAverage:hover {
            background-color: #3498db;
            color: white;
        } 
        .imgAverage {
            width: 40%;
            height: 100%;
            display: block;
            border-radius: 30px;
            margin-right: -14.8%;
        }
        
    .btnfit3 {
        display: block;
        justify-content: flex-start;
        margin-left: 24%;
        margin-top: 3%;
        position: relative;
    }

    .btnfit {
        background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 125px;
        width: 282px;
        text-align: center;
        border-radius: 30px;
        font-size: 25PX;
        font-weight: bold;
        border: none;
    }

    .btnfit:hover {
        background-color: #3498db;
        color: white;
    }

    .imgfit {
        width: 40%;
        height: 100%;
        display: block;
        border-radius: 30px;
        margin-right: -16.3%;
    }
    .continuebodytype {
        height: 40px;
        width: 150px;
        position: absolute;
        bottom: 2%;
        left: 44%;
        align-items: center;
        background-color: #e558b8;
        /* background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%); */
        font-size: 21px;
        padding: 5px;
        text-align: center;
        border-radius: 30px;
        color: white;
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        text-decoration: none;
        border: none;
    }


    .arrowbody{
        position: absolute;
        height: 40px;
        width: 40px;
        padding: 5px;
        margin-left: -22%;
    }
}




@media only screen and (max-width: 600px) {
    /* Mobile View */

    /* .startimg {
    height: 650px;
} */

    .letsgo {
        height: 740px;
        width: 360px;
        background-image: url('img/Background-for-all-screen.jpg');
        background-size: cover;
        background-position: center;
        align-items: center;
        right: 30%;
    }
    .backgroundimg {
        height: 705px;
        width: 363px;
        margin-left: -4.4%;
        border-radius: 30px;
        margin-top: -200%;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    .bodytypetitle {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        align-items: center;
        text-align: center;
        /* margin: 5%; */
        margin-left: 16.5%;
        letter-spacing: 1.01px;
        line-height: 0.4em;
        bottom: 81%;
        color: #000;
        position: absolute;
        font-weight: bold;

    }

    .img-fluid {
        max-width: 100%;
        margin-left: -3%;
    }


    .startimg {
        animation: lift 0.8s ease-in-out;
        animation-delay: 1.6s;
        animation-fill-mode: forwards;
    }


    .btnslim {
        background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 130px;
        width: 310px;
        text-align: center;
        /* color: #fff; */
        border-radius: 30px;
        font-size: 30PX;
        font-weight: bold;
        /* margin-right: 50px; */
        text-decoration: none;
        border: none;

    }

    .btnslim1 {
        display: block;
        margin-top: -175%;
        left: 3%;
        position: relative;
    }

    .btnslim:hover {
        background-color: #3498db;
        color: white;
    }

    .imgslim {
        width: 40%;
        height: 102%;
        display: block;
        border-radius: 30px;
        margin-right: -13.5%;
    }

    #cornerSign {
        width: 30px;
        height: 30px;
        transition: opacity 0.5s ease;
        position: absolute;
        justify-content: flex-start;
        margin-top: -25%;
       right:85% ;
    }

    .btnAverage2 {
        display: block;
        justify-content: center;
        left: 4%;
        margin-top: 5%;
        position: relative;

    }
    .imgAverage {
        width: 40%;
        height: 100%;
        display: block;
        border-radius: 30px;
        margin-right: -14.8%;
    } 

    .btnAverage {
        background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 130px;
        width: 290px;
        text-align: center;
        border-radius: 30px;
        font-size: 30PX;
        font-weight: bold;
        border: none;
    }

    .btnAverage:hover {
        background-color: #3498db;
        color: white;
    }

    .imgfit {
        width: 40%;
        height: 102%;
        display: block;
        border-radius: 30px;
        margin-right: -16.3%;
    }

    .btnfit3 {
        display: block;
        justify-content: flex-start;
        left: 4%;
        margin-top: 7%;
        position: relative;
    }

    .btnfit {
        background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 130px;
        width: 306px;
        text-align: center;
        border-radius: 30px;
        font-size: 30PX;
        font-weight: bold;
        border: none;
    }

    .btnfit:hover {
        background-color: #3498db;
        color: white;
    }

    .continuebodytype {
        height: 40px;
        width: 150px;
        position: absolute;
        bottom: 9%;
        left: 29%;
        align-items: center;
        background-color: #e558b8;
        /* background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%); */
        font-size: 21px;
        padding: 3px;
        text-align: center;
        border-radius: 30px;
        transition: background-color=0.3s;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    .arrowbody{
        position: absolute;
        height: 40px;
        width: 40px;
        padding: 5px;
        margin-left: -93%;
        margin-top: 3px;
    }


}