@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

body {
    background-image: url('img/Background-for-all-screen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    box-sizing: border-box;
}

.startimg {
    height: auto;
    width: auto;
}

@media only screen and (min-width: 1024px) {

    /* Desktop View */
    .startimg {
        height: 650px;
    }

    .letsgo {
        height: 650px;
        width: 302px;
        background-image: url('img/Background-Start-screen.jpg');
        background-size: cover;
        background-position: center;
        align-items: center;
        right: 30%;
    }

    .title {
        font-size: 30px;
        align-items: center;
        text-align: start;
        letter-spacing: 2px;
        line-height: 1.2em;
        font-weight: bold;
        /* bottom: 45%; */
        left: 49%;
        bottom: 33%;
        position: absolute;
        background-size: cover;
        transform: translate(-50%, -50%);
    }

    .title2 {
        font-size: xx-large;
        text-align: start;
        letter-spacing: 1px;
        line-height: 0.4em;
        left: 78%;
        bottom: 19%;
        position: relative;
        transform: translate(-50%, -50%);
        white-space: pre-line;
    }

    .my-button {
        height: 40px;
        width: 150px;
        position: absolute;
        bottom: 5%;
        left: 44%;
        align-items: center;
        background-color: white;
        background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
        font-size: 21px;
        padding: 5px;
        text-align: center;
        border-radius: 30px;
        color: white;
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        text-decoration: none;
    }
}

@media only screen and (max-width: 600px) {

    /* Mobile View */
    .title {
        font-size: 30px;
        align-items: center;
        text-align: start;
        letter-spacing: 2px;
        line-height: 1.2em;
        font-weight: bold;
        /* bottom: 45%; */
        left: 39%;
        bottom: 36%;
        position: absolute;
        background-size: cover;
        transform: translate(-50%, -50%);
    }

    .title2 {
        font-size: x-large;
        text-align: start;
        letter-spacing: 1px;
        line-height: 0.4em;
        left: 39%;
        bottom: 20%;
        position: absolute;
        transform: translate(-50%, -50%);

    }

    .my-button {
        height: 40px;
        width: 150px;
        position: absolute;
        bottom: 9%;
        left: 29%;
        align-items: center;
        background-color: white;
        background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(247, 87, 205, 0.5942752100840336) 35%, rgba(5, 141, 250, 1) 100%);
        font-size: 21px;
        padding: 3px;
        text-align: center;
        border-radius: 30px;
        transition: background-color=0.3s;
        color: white;
        font-weight: bold;
        text-decoration: none;
        border: none;
    }
    .img-fluid{
        max-width: 106%;
        margin-left: -3%;
    }
}

.startimg {
    animation: lift 0.8s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}



.my-button:hover {
    background-color: #3498db;
    color: white;
}