.user-list .container{
    min-height: 100dvh;
    display: flex;
    flex-flow: wrap;
}
.user-list main{
    max-height: 90dvh;
    overflow-y: auto;
}
.user-name{
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: var(--white-color);
}
.age-gender{
    background: linear-gradient(135deg, #e558b8 0%,#e558b8 29%,#292fe5 70%,#292fe5 100%);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    bottom: auto;
    left: auto;
    padding: 0.25rem 0.5rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    gap: 5px;
}
.age-gender .gender img{
    max-width: 10px;
}
.age-gender .age{
    color: var(--white-color);
    font-size: 10px;
}