.user-video.container{
    min-height: 100dvh;
    display: flex;
    flex-flow: wrap;
}
.user-video main{
    max-height: 100dvh;
    overflow-y: auto;
}
.user-name{
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: var(--white-color);
}
.age-gender{
    background: linear-gradient(135deg, #e558b8 0%,#e558b8 29%,#292fe5 70%,#292fe5 100%);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    bottom: auto;
    left: auto;
    padding: 0.25rem 0.5rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    gap: 5px;
}
.age-gender .gender img{
    max-width: 10px;
}
.age-gender .age{
    color: var(--white-color);
    font-size: 10px;
}

.call-now .img-partner{
    max-width: 70%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;

    
}

.age-card {
    /* background: linear-gradient(135deg,  #e558b8 0%,#e558b8 29%,#292fe5 70%,#292fe5 100%); */
    border: 0;
    color: var(--white-color);
    text-align: center;
}
.call-now .img-pin{
    max-width: 10%;
    aspect-ratio: 1/1;
    -o-object-fit: contain;
    object-fit: contain;
    
}

.lottie{
    width: 40%;
    margin-left: 30%;
    /* padding-top: 20px; */
}


.video{
    height:100vh;
    width: 21vw;
    /* margin-top: -10px    ; */
    object-fit: cover;
    display: block;
}

.mic {
    height: 15%;
    width: 15%;
    position: relative;
    margin-left: 40px;
    margin-top: -25%;
}
.call{
    height: 20%;
    width: 20%;
    position: absolute;
    margin-left: 40px;
    margin-top: -20%;
}
.camera{
    height: 20%;
    width: 7%;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    margin-left: 13%;
    margin-top: -16%;
    color: #ffff;

}


@media only screen and (max-width: 600px) {

    .video{
        height: 100vh;
        width: 100vw;
    

    }
    .mic{
        height: 15%;
        width: 15%;
        position: relative;
        margin-left: 56px;
        margin-top: -25%;
    }
    .camera{
        height: 20%;
        width: 30%;
        background-color: black;
        border-radius: 15px;
        padding: 10px;
        position: absolute;
        margin-left: 60%;
        margin-top: -75%;
        color: #ffff;
    
    }
    

}