.video{
    height: 94vh;
    width: 21vw;
    /* margin-bottom: 20%;   */
    object-fit: cover;
    display: block;
}


@media only screen and (max-width: 600px) {

    .video{
        height: 94vh;
        width: 100vw;

    }

}